/*
*
*	Menus/Navs Stylesheet
*
*/


.menuBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: map-get($space, "md");
	background-color: map-get($color, "black");

	&__heading {
		color: map-get($color, "primary_light");
		margin-top:0;
		margin-bottom: map-get($space, "sm");
		font-weight: bold;
	}

	&--mobile {
		@include tablet {
			display: none;
		}
	}

	&__button {
		background-color: map-get($color, "secondary_base");
		cursor: pointer;
		padding: map-get($space, "sm");
		border-radius: map-get($space, "xs");
		color: map-get($color, "white");
		border: 0;
		
		@include tablet {
			display: none;
		}
	}
}

.mobileMenu {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	@include tablet {
		position: static;
		display: block;
	}

	&--hidden {
		display: none;
		@include tablet {
			display: block;
		}
	}

}



.nav {
	background-color: map-get($color, "black");
	color: map-get($color, 'white');

	ul {
		margin-top: 0;
		padding-left: map-get($space, "md");
	}

	&__list {
		padding-left: map-get($space, "md");
	}

	&__link {
		padding: map-get($space, "xs") 0;
		display: block;
		width: 100%;
		margin-bottom: map-get($space, "md");

		&--current {
			border-bottom: 2px solid map-get($color, "secondary_base");
			@include tablet {
				border-right: 12px solid map-get($color, "secondary_base");
				border-bottom: 0;
			}
		}
	}

	&__item {
		width: 80%;

		@include tablet {
			width: 100%;
		}


		&--parent {
			> a {
				text-transform: uppercase;
				font-weight: bold;
				color: map-get($color, "secondary_base");
			}
		}
	}
}



.breadcrumbs {
	padding: map-get($space, "sm") 0;

	&__list {
		margin: 0;
		padding: 0;
		display: flex;
	}

	&__item {

		padding: 0 map-get($space, "sm");

		&--parent {
			border-right: 1px solid map-get($color, "black");
		}

		&--current {
			color: map-get($color, "secondary_base");
		}
	}
}



.sectionMenu {

	&__link {
		color: map-get($color, "secondary_base");
		display: block;
		font-weight: bold;
		margin-bottom: map-get($space, "md");
	}

}